div(align="center")
	table(class="headerTable",width="100%")
		tr
			td
				div(align="center")
					table(class='headerTable')
						tr(align="center")
							td
								div(id="file-uploader",class="imgButton")
									img(src="images/computer.png")
									span <br/>&nbsp;&nbsp;Your PC&nbsp;&nbsp;
							td(align="left")
								button(id="btnWeb",class="imgButton")
									img(src="images/web.png")
									span <br/>&nbsp;&nbsp;Web&nbsp;&nbsp;
								button(id="btnFlickr",class="imgButton")
									img(src="images/flickr_logo.png")
									span <br/>FlickR&nbsp;
								button(id="btnDownload",class="imgButton")
									img(src="images/download.png")
									span <br/>Download
								button(id="btnEmail",class="imgButton")
									img(src="images/email.png")
									span <br/>Send Email
								button(id="btnImgur",class="imgButton")
									img(src="images/imgur.png")
									span <br/>Imgur
	br

	canvas(id="canv",width="300",height="225",class="paintCanvas")
	span(id="bubbles")
	br
	img(id="flipVert",class="hoverButton",src="images/up-down.png",width="16",height="24")
	img(id="flipHoriz",class="hoverButton",src="images/left-right.png",width="24",height="16")
	img(id="close",class="hoverButton",src="images/close.png")

textarea(id="textInput",style="position: absolute;",class="textinput")
