img(class="beta", src="images/beta.png")
div(align="center")
	table(class="headerTable",width="100%")
		tr
			td
				div(align="center")
					table(class='headerTable')
						tr(align="center")
							td(colspan=1) Get an image from
							td(colspan=3) Share it with
						tr
							td(valign="bottom",align="center", class="getBlock")
								div(align="center",style="display: inline-block")
									div(id="file-uploader",class="imgButton")
										img(src="images/computer.png")
										span <br/>&nbsp;&nbsp;Your PC&nbsp;&nbsp;
								button(id="btnWeb",class="imgButton")
									img(src="images/web.png")
									span <br/>&nbsp;&nbsp;Web&nbsp;&nbsp;
								button(id="btnFlickr",class="imgButton")
									img(src="images/flickr_logo.png")
									span <br/>FlickR&nbsp;
							td(valign="center", class="shareBlock")
								button(id="btnDownload",class="imgButton")
									img(src="images/download.png")
									span <br/>Your Harddisk
								button(id="btnFacebook",class="imgButton")
									img(src="images/facebook.png")
									span <br/>Facebook
								button(id="btnEmail",class="imgButton")
									img(src="images/email.png")
									span <br/>&nbsp;&nbsp;Email&nbsp;&nbsp;
								button(id="btnImgur",class="imgButton")
									img(src="images/imgur.png")
									span <br/>Imgur

	form(id="enterUrl", class="overlayForm centered", action="javascript:urlFormSubmit()")
		br
		span(id="urlFormLabel") .
		br
		input(id="urlFormField", type="url", size="50")
		br
		input(id="urlFormSubmit", type="submit",value="Ok")
		input(id="urlFormCancel", class="cancelButton", type="button",value="Cancel")
		br
		br

	form(id="enterText", class="overlayForm centered", action="javascript:textFormSubmit()")
		br
		span(id="textFormLabel") .
		br
		input(id="textFormField", type="text", size="50")
		br
		input(id="textFormSubmit", type="submit",value="Ok")
		input(id="textFormCancel", class="cancelButton", type="button",value="Cancel")
		br
		br

	div(id="progress", class="progress")
		div(align="right")
			img(id="closeProgress", src="images/close.png")
		span(id="progressLabel") Progress
		br
		br
		img(id="progressImage", src="images/ajax-loader.gif")
		span(id="progessDone",style="display:none") Done.
		br
		br

	form(id="emailForm", class="overlayForm emailForm", action="javascript:emailFormSubmit()")
		table(width='100%')
			tr
				td(width="100px") Your Email
				td
					input(id="emailFrom", type="email", style="width: 100%")
			tr
				td To*
				td
					input(id="emailTo", type="email", style="width: 100%", required)
			tr
				td Subject
				td
					input(id="emailSubject", type="text", style="width: 100%", value="Image from Comicr")
			tr
				td Body
				td
					textarea(id="emailBody", type="text", rows="10", style="width: 100%") Hi, look at this cool image:
		br
		input(id="emailSubmit", type="submit",value="Ok")
		input(id="emailCancel", class="cancelButton", type="button",value="Cancel")
	canvas(id="canv",width="300",height="225",class="paintCanvas")
	span(id="bubbles")
	br
	p Click on the image to add speech bubble
	- if (isDefault)
		p To put bubbles on another image use the get buttons at the top
	img(id="flipVert",class="hoverButton",src="images/up-down.png",width="16",height="24")
	img(id="flipHoriz",class="hoverButton",src="images/left-right.png",width="24",height="16")
	img(id="close",class="hoverButton",src="images/close.png")

textarea(id="textInput",style="position: absolute;",class="textinput")
